body {
  background-color: rgba(222, 222, 222, 0.751);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
}

tr {
  padding: 10px 0;
}

header {
  background-color: rgba(19, 19, 19, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 0; right: 0; bottom: -60; left: 0;
}

#logSignContainer {
  display: flex;
  justify-content: space-around;
}

#logSignContainer p {
  padding: 0 10px;
}

/* Styles for the calendar */
.calendar {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: absolute;
  top: 60px; right: auto; bottom: 0; left: 0;
  width: 70%;
  padding: 10px;
}

#calendarDays {
  height: 100%;
}

.weekdays {
  display: flex;
  justify-content: space-around;
  background-color: #ddd;
  padding: 5px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 90%;
}

.day {
  text-align: center;
  padding: 5px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 90%;
}

.active {
  background-color: #1abc9c;
  color: white;
}

.sidebar {
  position: absolute;
  top: 60px; right: 0; bottom: 0; left: auto;
  padding: 10px;
  width: 27%;
}

.sidebar div {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
}
