.home-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 20% 78%;
    padding: 20px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}

.weekly-content {
    padding: 20px 10px;
    height: 100%;
    /* display: grid;
    grid-template-rows: 70px 63%; */
}

.head-week-container {
    display: flex;
    justify-content: space-around;
}

.weekday {
    text-align: center;
}
