/* TODO: Add sitewide styles */
body, #root {
    margin: unset;
    font-family: "Roboto";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

ul {
    list-style: none;
}

main {
    display: grid;
    grid-template-columns: 230px 80%;
    height: 92%;
    max-height: 92%;
}

nav {
    background-color: #000634;
    color: #ebe8f7;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    border-bottom: 1px solid grey;
}

.sidebar {
    padding: 0 20px;
    padding-top: 50px;
}

.scheduling {
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 50px 95%;
    grid-template-rows: 70px 63%;
}
